<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
        <!-- Configuração da Conexão com o banco Postgres -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>


<!-- 		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/juridico</property> -->
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
<!-- 		<property name="connection.username">postgres</property> -->
<!-- 		<property name="connection.password">postgres</property>		 -->

		<property name="hibernate.connection.url">jdbc:postgresql://192.168.0.26:5432/juridico</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.username">desenv</property>
		<property name="connection.password">itps@@123</property>

		<property name="current_session_context_class">thread</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="br.com.sergipetec.model.Contrato" />
		<mapping class="br.com.sergipetec.model.Usuario" />
		<mapping class="br.com.sergipetec.model.Funcionario" />

	</session-factory>
</hibernate-configuration>
